<style>
/*
Title: extra point file
Author: Austin Wang (AW)
Create Date: 31 August 2020
Purpose: give the assignment some style
Last Modified On: 31 August 2020
Last Modified By: Austin Wang (AW)
Modification History:
31 August 2020 - Created CSS file for multiwrites assignment

*/

	#major {
		color: blue;
		font-weight: bold;
		}

	#hobby {
		color: red;
		font-weight: bold;
		}

	


</style>